<html>
    <head>
        <title>Contacts</title>
        <link rel="icon" href="/img/Profile.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="contacts">
                <div id="contacts"></div>
            </div>
            
        </div>
        {{>footer}}
        <script src="/js/index.js"></script>
    </body>
</html>